@import 'mixins/mixins';
@import 'common/var';

@include b(page-edit) {
  display: table;
  position: relative;
  border: 1px solid #ddd;

  &.is-view {
    .bleed {
      border-color: #fff !important;
    }
  }

  .middle-line {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    z-index: 2;
    background-color: red;
  }

  .el-page-wrap {
    position: relative;
    top: 0;
    left: 0;
    font-size: inherit;
    overflow: hidden;

    .el-page-content {
      position: relative;
      display: table;
      font-size: inherit;
      background: #eee;
    }
  }

  .pg-layout-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table-cell;
    font-size: inherit;

    .layout-item-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      font-size: inherit;
    }

    .pg-layer-div {
      position: absolute;
    }

    .layout-item-empty {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }

  .pg-photo-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .centre {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .pg-layer-hint {}

    .pg-layer-mask {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    .bleed {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border: 10px solid rgba(255, 49, 49, 0.3);
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 1px inset;
    }

    &:hover {
      .pg-layer-mask {
        display: block;
      }
    }
  }

  .pg-ridge {
    font-size: inherit;

    .pg-ridge-item {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      z-index: 9;
      background: #666;
    }
  }

  .pg-bleed {
    font-size: inherit;

    .pg-bleed-item {
      position: absolute;
      background-color: red;
      z-index: 2;

      &.horizontal {
        height: 1px;
        width: 100%;
      }

      &.vertical {
        width: 1px;
        height: 100%;
      }
    }
  }
}