@import 'mixins/mixins';
@import 'common/var';

@include b(photo-album) {
  position: relative;
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 10;
    background: transparent;
  }

  .prev-btn {
    left: 0;
  }

  .next-btn {
    right: 0;
  }

  .left-side,
  .right-side {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    z-index: 2;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);

    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      content: '';
      z-index: 99;
    }
  }

  .left-side {
    &::before {
      left: 0;
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.95, transparent),
        color-stop(1, #dadada)
      );
    }

    &::after {
      left: -5px;
      width: 5px;
      -webkit-box-shadow: 1px 0 1px 0 rgb(0, 0, 0 / 15%), 4px 0 0 0 #eee,
        4px 0 1px 0 rgb(0, 0, 0 / 15%), 8px 0 0 0 #eee,
        8px 0 1px rgb(0, 0, 0 / 15%), 9px 0 0 0 #eee;
      z-index: 9;
    }
  }

  .right-side {
    right: 0px;

    &::before {
      left: -0;
      background-image: -webkit-linear-gradient(
        right,
        transparent 95%,
        #cacaca
      );
    }

    &::after {
      right: 0px;
      width: 5px;
      -webkit-box-shadow: 1px 0 1px rgb(0, 0, 0 / 15%), 4px 0 0 0 #eee,
        4px 0 1px 0 rgb(0, 0, 0 / 15%), 8px 0 0 0 #eee,
        8px 0 1px 0 rgb(0, 0, 0 / 15%), 9px 0 0 0 #eee;
    }
  }
  .photo-ablum-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: inherit;
    overflow: hidden;
  }
  .photo-album-view {
    position: absolute;
    left: -40em;
    top: -40em;
  }

  .photo-album-item {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    perspective: 1500px;
    perspective-origin: center center;
    overflow: hidden;
  }

  .album-page-item {
    position: absolute;
    display: table-cell;
    height: 100%;
    width: 50%;
    top: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d; /* Safari 和 Chrome */
    -moz-transform-style: preserve-3d;

    background: #fff;

    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    }

    &.left {
      left: 0;
      transform-origin: right;
      -webkit-transform-origin: right; /* Safari 和 Chrome */
      -moz-transform-origin: right;
    }

    &.right {
      left: 50%;
      transform-origin: left center;
      -webkit-transform-origin: left; /* Safari 和 Chrome */
      -moz-transform-origin: left;

      .fill {
        left: -100%;
      }
    }

    .album-layout-item {
      display: table;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: 1;
    }

    .front {
      z-index: 2;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }

    .back {
      transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -moz-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
    }

    .item-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      // transform-style: preserve-3d;
      overflow: hidden;
    }
  }
}
