@import "mixins/mixins";
@import "common/var";

@include b(photo-wall) {

  .photo-wall-content {
    position: relative;
    font-size: inherit;
  }

  .photo-wall-item {
    position: absolute;

    &.wall-active {
      box-shadow: 0 0 0 4px #a2c6f0;
    }
  }
}